# NEAR Configuration
VITE_NEAR_CONTRACT_ADDRESS=your.contract.testnet
VITE_NEAR_NETWORK_ID=testnet
VITE_NEAR_NODE_URL=https://rpc.testnet.near.org

# Solana Configuration (if needed in the future)
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_SOLANA_BETTING_CONTRACT=YourSolanaContractAddressHere
VITE_SOLANA_OPERATOR=YourOperatorAddressHere